.win-or-lose-card-container {
  background-color: #999bf7;
  border-radius: 10px;
  border: 2px solid #c3b8eb;
  display: flex;
  padding-bottom: 50px;
  padding-top: 70px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-around;
  margin: 0px;
  width: 70%;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.you-won {
  font-size: 35px;
  color: #fff;
  margin-bottom: 40px;
}
.best-score {
  font-size: 25px;
  color: #fff;
  padding: 0px;
  padding-bottom: 0px;
}
.total-score {
  font-size: 30px;
  color: #6a59ff;
  font-weight: 600;
  padding: 0px;
}
.play-again-btn {
  border-radius: 5px;
  background-color: #ffce27;
  color: #3d3d3d;
  padding: 10px;
  border: none;
}
.score-container {
  align-self: center;
}
.won-image {
  height: 300px;
  /* width: 100px; */
}
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  /* margin: 0px; */
}
.score-container * {
  margin: 2px;
}
